@import url(http://fonts.googleapis.com/css?family=Raleway);

.wrapper-fix { 
        position:absolute;
        height:600px;
        width:100%;
    }
	
.fullpage { 
        position:relative;
        height:100%;
		min-height:100vh;
        min-height:100%;
        width:100%;
		background-color:#ffffff;
    }
	
.row.fullwidth {
	width: 100%;
    max-width: 100%;
}

.row.fullwidth div {
		padding:0;
}
	
#slide-container{ 
        position:fixed;
		background:#eee;
}

.wrapper { 
        position:absolute;
        height:100%;
        width:100%;
		margin-top:550px;
		z-index:9999;
    }
	
@media only screen and (max-width: 40em) {
	.wrapper { 
				margin-top:150px;
			}
}
	
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.wrapper { 
		margin-top:320px;
	}
}

.contain-to-grid, .contain-to-grid .top-bar {
background:#ccc;
  }

  @media only screen and (min-width: 40.063em) {
.top-bar-section li:not(.has-form) a:not(.button){
background:#ccc; 
color:#222;
text-transform: up
  } 
}


@media only screen and (min-width: 40.063em) {
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right:0;
 }
}

.section-main {
  padding: 4rem 0;
  background-color:#ffffff;
}

.section-contact{
  padding: 2rem 0;
  background-color:#ffffff;
}

.section-instagram{
  padding: 4rem 0;
  background-color:#eee;
  text-align:center;
  }
  
.section-footer{
  padding: 1rem 0;
  background-color:#ccc;
}
 
.section-copyright{
  padding:1.26rem 0 0;
  background-color:#aaa;
 }


.logo-circle {
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
  z-index:9999;
}

 
 .top-bar img{
   display:block;
   color:#fff;
   top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    z-index:9999;
  }

  
.logo-sticky {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	width:80px;
	height:80px;
	top: 0 !important;
	left: 0 !important;
	-webkit-transform: none !important;
	-ms-transform:none !important;
	transform: none !important;
}

@media only screen and (max-width: 64em) { 
.top-bar img {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	width:60px;
	height:60px;
	top: 0 !important;
	left: 0 !important;
	-webkit-transform: none !important;
	-ms-transform:none !important;
	transform: none !important;
}}


 .owl-carousel {
 text-align:center;
 }

  .owl-carousel div .overlay{
    position:absolute;
   display:block;
   color:#fff;
   top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

.owl-carousel div .overlay h2,
.photo-background h2 {
 color:#fff;
 }
 
 #slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
 
 .photo-background {
  background: url("http://placebear.com/1920/1280") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  padding: 8rem 0;
  overflow: hidden;
  color:#fff;
}

h1, h2, h3, h4, h5, h6 {  
  font-family: 'Raleway', sans-serif;
}